html
{
    font-family:monospace;
}
#sidebar, #tilebar
{
    width:auto;
    max-width:20%;
    display:inline-block;
    vertical-align: top;
    margin:50px;
}
#drawing
{
    width:552px ;
    display:inline-block;
    margin-top:50px;
}


#palette,#spritesheet
{
    height:100px;
}

button
{
    margin:10px auto;
}