html
{
    font-family:monospace;
}
#sidebar, #tilebar
{
    width:auto;
    max-width:20%;
    display:inline-block;
    vertical-align: top;
    margin:50px;
}
#drawing
{
    width:552px ;
    display:inline-block;
    margin-top:50px;
}


button.small{
    width:10px;
    height:15px;
    display:inline-block;
    margin-top:10px;
}

span.explainer
{
    display:block;
    height:1em;
}

button
{
    /* margin:10px auto; */
}
select {
    min-width:150px;
    display:block;
}